body {
	background-color: #ebebeb;
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
}


a {
	text-decoration: none;
	color: #036;
}
a:hover {
	text-decoration: underline;
}

.pagination {
	margin-top: 2em;
	text-align: center;
}

.right {
	text-align: right;
}

.statsContainer {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.tweets {
	padding-bottom: 1em;
/* 	border-bottom: 1px solid #ccc; */
	margin-bottom: 1em;
}
	.tweetMeta {
		width: 600px;
	}
		.tweetImage {
			display: inline-block;
			float: left;
			padding-bottom: 10px;
		}
		.tweetImage {
			max-height: 3em;
			max-width: 3em;
		}
		.tweetAuthor {
			display: inline-block;
			float: left;
			margin-left: 10px;
			background-image: url(/static/bubbleblip.png);
			background-repeat: no-repeat;
			padding-bottom: 24px;
			padding-top: 1em;
			background-position: left bottom;
		}
		.tweetName {
			display: inline-block;
			float: left;
			margin-left: 10px;
			padding-bottom: 24px;
			padding-top: 1em;
			color: #888;
		}
		.tweetDate {
			display: inline-block;
			float: right;
			padding-top: 2em;
			padding-bottom: 10px;
		}
	.tweetRow {
	
	}
		.tweet {
			background-color: #fff;
			padding: 10px;
			-webkit-border-top-left-radius:	10px;
			-webkit-border-top-right-radius:10px;
			-moz-border-radius-topleft:		10px;
			-moz-border-radius-topright:	10px;
			border-top-left-radius:			10px;
			border-top-right-radius:		10px;
			display: inline-block;
			width: 580px;
		}
		.tweetReach {
			display: inline-block;
			width: 100px;
			text-align: right;
			background-color: #ebebeb;
		}
	.retweet {
		/* width: 750px; */
	}
		.retweetWrap {
			background-color: #f8f8f8;
			display: inline-block;
			width: 600px;
			border-top: 1px solid #ddd;
		}
			.retweetImage {
				margin-left: 5px;
				width: 28px;
				height: 28px;
				display: inline-block;
			}
			.retweetTweet {
				width: 438px;
				display: inline-block;
				padding: 10px;
				font-size: .9em;
			}
			.retweetDate {
				width: 97px;
				display: inline-block;
				text-align: right;
			}
			.retweetDate a, .tweetDate a {
				font-size: .8em;
			}

.stats {
	width: 400px;
	position: absolute;
	top: 0;
	right: 0;
}
	.totals {
		width: 400px;
	}
	.statColumn {
		color: #999;
		width: 25%;
		text-align: right;
		text-transform: uppercase;
		font-size: .8em;
	}
	.statValue {
		font-size: 1.4em;
		text-align: right;
	}